img {
    width: 24px;
    height: 24px;
}

.margins {
    margin-left: 50px;
    margin-top: 50px;
    cursor:pointer;
    text-decoration: blink;
}

.col-class-elegido {
    cursor:pointer;
    text-decoration: blink;
    background: #EFE7E4;
    width: 50px;
    margin-left: 20px;
}
.input2 {
    margin-top:10px;    
    width: 350px;
}
.label-terminos {
    margin-top: 40px;
    margin-left: 10px;
}
.label-check-terminos {
    margin-top: 40px;
    margin-left: 40px; 
}

.input-tarjeta{
    margin-left: 250px;
}

.continuar-button {
    margin-left: 380px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.col-class {
    cursor:pointer;
    text-decoration: blink;
}
.metodos {
    height: 35px;
    width: 35px;
}

.label-metodo {
    margin-top: 10px;
    text-align: center;
}


.metodos-fallabela {
    height: 35px;
    width: 35px;
    color: #C5B358;
}
.margin-toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.margin-toolbar2 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 303px;
}

.payment-row {
    margin-left: 550px;
}

.carrito-subtitle {
    margin-left: 60px;
}

.carrito-title {
    text-align: center;
    margin-top: 20px;
    color:darkred;
    margin-bottom: 20px;
}
.icons {
    width: 20px;
    height: 20px;
}

.icons-metodo {
    width: 35px;
    height: 35px;
    margin-left: 7px;
}

.icons-metodo-falabella {
    width: 35px;
    height: 35px;
    color: #C5B358;
}

.icon-elegido {
    width: 20px;
    height: 20px;
    color:darkred;
}

.icon-special {
    width: 20px;
    height: 20px;
    
}

.input2 {
    margin-top:10px;
    width: 350px;
    margin-left: 40px;
}

.row-linea {
    height: 30px;
}

.continue {
    margin-top: 40px;
    margin-left: 750px;
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
}

.row-linea-envio {
    height: 10px;
    margin-left: 27px;
}


.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa);
    --ion-color-base-rgb: var(--ion-color-rosa-rgb);
    --ion-color-contrast: var(--ion-color-rosa-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
    --ion-color-shade: var(--ion-color-rosa-shade);
    --ion-color-tint: var(--ion-color-rosa-tint);
  }

  .ion-color-pasto {
    --ion-color-base: var(--ion-color-pasto);
    --ion-color-base-rgb: var(--ion-color-pasto-rgb);
    --ion-color-contrast: var(--ion-color-pasto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pasto-contrast-rgb);
    --ion-color-shade: var(--ion-color-pasto-shade);
    --ion-color-tint: var(--ion-color-pasto-tint);
  }

.login-card {
    width: 900px;
    height: 1000px;
    margin-bottom: 30px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}
.align {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
.row-style {
    height: 50px;
}

.label-pwd {
    margin-left: 480px;
    color: darkred;
    cursor:pointer;
    text-decoration: blink;
}

.check {
    margin-right: 5px;
    margin-left: 270px;
}

.recordar {
    margin-left: 5px;
    margin-right: 100px;
}

.ion-color-pasto {
    --ion-color-base: var(--ion-color-pasto);
    --ion-color-base-rgb: var(--ion-color-pasto-rgb);
    --ion-color-contrast: var(--ion-color-pasto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pasto-contrast-rgb);
    --ion-color-shade: var(--ion-color-pasto-shade);
    --ion-color-tint: var(--ion-color-pasto-tint);
  }

.login {
    margin-left: 300px;
    margin-top: 25px;
    cursor:pointer;
    text-decoration: blink;
}

.input {
    margin-top: 40px;
    margin-left: 250px;
    margin-bottom: 10px;
    width: 400px;
}

.input2 {
    margin-top:10px;
    width: 350px;
    margin-left: 40px;
}

.boton {
    width: 300px;
    margin-left: 310px;
    margin-top: 40px;
    height: 40px;
}
.signin {
    margin-left: 30px;
    margin-top: 25px;
    cursor:pointer;
    text-decoration: blink;
}

.campo {
    margin-left: 50px;
    margin-top: 30px;
}

.label-terminos {
    margin-top: 40px;
    margin-left: 10px;
}

.create {
    margin-left: 300px;
    margin-top: 40px;
    width: 300px;
    height: 40px;
}

.font-red {
    color: #B11A0E;
}

.label-check-terminos {
    margin-top: 30px;
    margin-left: 40px; 
}
.ion-color-natural {
    --ion-color-base: var(--ion-color-natural);
    --ion-color-base-rgb: var(--ion-color-natural-rgb);
    --ion-color-contrast: var(--ion-color-natural-contrast);
    --ion-color-contrast-rgb: var(--ion-color-natural-contrast-rgb);
    --ion-color-shade: var(--ion-color-natural-shade);
    --ion-color-tint: var(--ion-color-natural-tint);
  }

  .align {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  .login-card {
    width: 900px;
    height: 600px;
    margin-bottom: 30px;
}