img {
    width: 24px;
    height: 24px;
}

.margins {
    margin-left: 50px;
    margin-top: 50px;
    cursor:pointer;
    text-decoration: blink;
}

.margin-toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 23px;
}

.carrito-subtitle {
    margin-left: 60px;
}

.carrito-title {
    margin-left: 60px;
    margin-top: 20px;
    color:darkred;
    margin-bottom: 20px;
}

.verifica {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-verificacion {
    height: 60px;
    width: 260px;
    margin-left: 50px;
}
.icons {
    width: 20px;
    height: 20px;
}

.icon-v {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 7px;
}

.vaciar {
    --border-color: #B11A0E;
    --color: #B11A0E;
    --background: #FBFBFB;
    height: 60px;
    width: 220px;
    margin-top: 10px;
}

.resumen-card {
    width: 400px;
    height: 250px;
}

.icon-elegido {
    width: 20px;
    height: 20px;
    color:darkred;
}

.icon-special {
    width: 20px;
    height: 20px;
    
}
.ion-color-porcelana {
    --ion-color-base: var(--ion-color-porcelana);
    --ion-color-base-rgb: var(--ion-color-porcelana-rgb);
    --ion-color-contrast: var(--ion-color-porcelana-contrast);
    --ion-color-contrast-rgb: var(--ion-color-porcelana-contrast-rgb);
    --ion-color-shade: var(--ion-color-porcelana-shade);
    --ion-color-tint: var(--ion-color-porcelana-tint);
  }

.input2 {
    margin-top:10px;
    width: 350px;
    margin-left: 40px;
}

.row-linea {
    height: 10px;
}

.continue {
    margin-top: 40px;
    margin-left: 750px;
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
}

.row-linea-envio {
    height: 10px;
    margin-left: 27px;
}
.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa);
    --ion-color-base-rgb: var(--ion-color-rosa-rgb);
    --ion-color-contrast: var(--ion-color-rosa-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
    --ion-color-shade: var(--ion-color-rosa-shade);
    --ion-color-tint: var(--ion-color-rosa-tint);
  }

  .ion-color-pasto {
    --ion-color-base: var(--ion-color-pasto);
    --ion-color-base-rgb: var(--ion-color-pasto-rgb);
    --ion-color-contrast: var(--ion-color-pasto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pasto-contrast-rgb);
    --ion-color-shade: var(--ion-color-pasto-shade);
    --ion-color-tint: var(--ion-color-pasto-tint);
  }

  .ion-color-natural {
    --ion-color-base: var(--ion-color-natural);
    --ion-color-base-rgb: var(--ion-color-natural-rgb);
    --ion-color-contrast: var(--ion-color-natural-contrast);
    --ion-color-contrast-rgb: var(--ion-color-natural-contrast-rgb);
    --ion-color-shade: var(--ion-color-natural-shade);
    --ion-color-tint: var(--ion-color-natural-tint);
  }
