<app-toolbar2></app-toolbar2>
<ion-content [fullscreen]="true">
  <ion-grid class="margin-toolbar">
    <ion-row class=".ion-justify-content-start">
        <ion-col (click)="redirect()" size="1" >
            <ion-text class="margins">Inicio</ion-text>
        </ion-col>
        <ion-col size="0.5">
            <img [src]="flechaDer">
        </ion-col>
        <ion-col color="rosa" size="2">
            <b><ion-text color="rosa">Carrito</ion-text></b>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icon-special" name="cart-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small>Datos de envío</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="card-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small>Método de pago</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="pricetags-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small style="margin-left: 9px; ">Promociones</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icon-elegido" name="search-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 10px;">
            <p><small style="margin-left: 13px; color: darkred;">Resumen</small></p>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="checkbox-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 10px;">
            <p><small>Confirmación</small></p>
          </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>

<div class="align">
  <ion-card style="width: 1300px; height: 600px; margin-bottom: 30px;">
    <h3 class="carrito-title"><b>Resumen</b></h3>
<h6 class="verifica">Verifica que tus datos sean correctos</h6>
    <ion-grid>
      <ion-row>
        <ion-col>
         <ion-row>
           <ion-col size="6.5">
             <ion-card color="porcelana" class="card-verificacion">
               <ion-grid>
                 <ion-row>
                   <ion-col size="3.5">
                     <ion-icon class="icon-v" name="card-outline"></ion-icon>
                   </ion-col>
                   <ion-col>
                     <h5>Tarjeta de débito</h5>
                   </ion-col>
                 </ion-row>
               </ion-grid>
             </ion-card>
           </ion-col>
           <ion-col>
             <ion-button class="vaciar" (click)="metodo()">Cambiar método</ion-button>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col size="6.5">
             <ion-card color="porcelana" class="card-verificacion">
               <ion-grid>
                 <ion-row>
                   <ion-col size="3.5">
                     <ion-icon class="icon-v" name="home-outline"></ion-icon>
                   </ion-col>
                   <ion-col>
                     <h5>Benito Juárez 277</h5>
                   </ion-col>
                 </ion-row>
               </ion-grid>
             </ion-card>
           </ion-col>
           <ion-col>
             <ion-button class="vaciar" (click)="direccion()">Cambiar dirección</ion-button>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col size="6.5">
             <ion-card color="porcelana" class="card-verificacion">
               <ion-grid>
                 <ion-row>
                   <ion-col size="3.5">
                     <ion-icon class="icon-v" name="calendar-outline"></ion-icon>
                   </ion-col>
                   <ion-col>
                     <h5>2 de octubre, 16:00</h5>
                   </ion-col>
                 </ion-row>
               </ion-grid>
             </ion-card>
           </ion-col>
           <ion-col>
             <ion-button class="vaciar" (click)="direccion()">Cambiar horario</ion-button>
           </ion-col>
         </ion-row>
        </ion-col>
        <ion-col>
          <ion-card color="natural" class="resumen-card">
            <ion-title style="margin-top: 15px;"><b>Resumen</b></ion-title>
            <ion-grid>
              <ion-row class="row-resumen">
                <ion-col>
                  <h6>Número de artículos:</h6>
                </ion-col>
                <ion-col>
                  <h6>{{numeroArticulos}}</h6>
                </ion-col>
              </ion-row>
              <ion-row class="row-resumen">
               <ion-col>
                 <h6>Puntos generados:</h6>
               </ion-col>
               <ion-col>
                 <h6>25 pts</h6>
               </ion-col>
             </ion-row>
             <ion-row class="row-subtotal">
               <ion-col size="5.1">
                 <h6><b>Subtotal: </b></h6>
               </ion-col>
               <ion-col >
                 <h6>${{subtotal}}</h6>
               </ion-col>
             </ion-row>
             <ion-row class="row-subtotal">
               <ion-col size="5.1">
                 <h6><b>Envío: </b></h6>
               </ion-col>
               <ion-col >
                 <h6>${{envio}}</h6>
               </ion-col>
             </ion-row>
             <ion-row class="row-subtotal">
               <ion-col size="5.1">
                 <h6><b>Total: </b></h6>
               </ion-col>
               <ion-col >
                 <h6>${{total}}</h6>
               </ion-col>
             </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
     </ion-grid>
     <ion-button class="callToAction" color="pasto" (click)="confirmacion()">Continuar</ion-button>
  </ion-card>
</div>

  <app-footer></app-footer>
</ion-content>