img {
    width: 140px;
    height: 135px;
    border-radius: 70px !important;
}

.text {
    text-align: center;
    margin-top: 10px;
}
.item {
    box-shadow: none !important;
    height: 200px;
    width: 140px;
}

.flechaIzq {
    box-shadow: none !important;
    width: 100px;
    height: 300px;
    margin-left: 50px;
}

.flechaDer {
    box-shadow: none !important;
    width: 100px;
    height: 300px;
}

.header {
    text-align: center;
    margin-bottom: 25px;
  }

.margin2 {
    margin-left: 200px;
}

.header2 {
    margin-left: 580px;
    margin-bottom: 20px;
  }