<ion-grid  class="ion-align-items-center">
  <ion-text><h1 class="header">Moda y accesorios</h1></ion-text>
    <ion-row>
      <ion-col>
        <ion-card button="true" class="flechaDer">
          <img [src]="flecha">
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let dep of fila2">
        <ion-card button="true" class="item" (click)="info(dep)">
          <img [src]="dep.image">
          <ion-card-title class="text">{{dep.name}}</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-card button="true" class="flechaIzq">
        <img [src]="flecha">
      </ion-card>
      </ion-row>
  </ion-grid >
  <ion-grid class="ion-align-items-center">
      <ion-row>
        <ion-col>
          <ion-card button="true" class="flechaDer">
            <img [src]="flecha">
          </ion-card>
        </ion-col>
        <ion-col *ngFor="let ser of fila1">
          <ion-card button="true" class="item">
            <img [src]="ser.image">
            <ion-card-title class="text">{{ser.name}}</ion-card-title>
          </ion-card>
        </ion-col>
        <ion-card button="true" class="flechaIzq">
          <img [src]="flecha">
        </ion-card>
        </ion-row>
  </ion-grid>
  