<app-toolbar2></app-toolbar2>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-align-items-center">
    <ion-row class=".ion-justify-content-start">
        <ion-col (click)="redirect()" size="1" >
            <ion-text class="margins">Inicio</ion-text>
        </ion-col>
        <ion-col size="0.5">
            <img [src]="flechaDer">
        </ion-col>
        <ion-col color="rosa" size="2">
            <b><ion-text color="rosa">Carrito</ion-text></b>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icon-special" name="cart-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small style="color: darkred;">Datos de envío</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="card-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small>Método de pago</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="pricetags-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small style="margin-left: 9px;">Promociones</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="search-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 10px;">
            <p><small style="margin-left: 13px;">Resumen</small></p>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="checkbox-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 10px;">
            <p><small>Confirmación</small></p>
          </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>
<h3 class="carrito-title"><b >Datos de envío</b></h3>
<div class="align">
  <ion-card color="natural" class="login-card">
    <ion-row class="row-style">
      <ion-col>
        <ion-text><h3 class="login">Dirección</h3></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Nombre de la dirección *</ion-label>
          <ion-input required="true" name="name"  [(ngModel)]="direccion"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Calle *</ion-label>
          <ion-input name="password"  [(ngModel)]="calle" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Número exterior *</ion-label>
          <ion-input required="true" name="first_lastname"  [(ngModel)]="numero"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Código Postal *</ion-label>
          <ion-input required="true" name="password_conf"  [(ngModel)]="cp"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Número interior </ion-label>
          <ion-input required="true" name="second_lastname"  [(ngModel)]="numero_int"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Estado *</ion-label>
          <ion-input maxlength="10" type="tel" required="true" name="phone"  [(ngModel)]="estado"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Referencias *</ion-label>
          <ion-input type="text" name="email" [(ngModel)]="referencias"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Municipio o alcaldía *</ion-label>
          <ion-input maxlength="5" required="true" name="postal"  [(ngModel)]="municipio"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Teléfono *</ion-label>
          <ion-input type="email" required="true" name="email_conf"  [(ngModel)]="telefono"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="input2">
          <ion-label position="floating">Colonia *</ion-label>
          <ion-input type="email" required="true" name="email_conf"  [(ngModel)]="colonia"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="input2">
          <ion-label>Día</ion-label>
          <ion-select (ionChange)="storeDia($event)" multiple="false" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option value="lunes">Lunes</ion-select-option>
            <ion-select-option value="martes">Martes</ion-select-option>
            <ion-select-option value="miercoles">Miércoles</ion-select-option>
            <ion-select-option value="jueves">Jueves</ion-select-option>
            <ion-select-option value="viernes">Viernes</ion-select-option>
            <ion-select-option value="sabado">Sábado</ion-select-option>
            <ion-select-option value="domingo">Domingo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="input2">
          <ion-label>Hora</ion-label>
          <ion-select (ionChange)="storeHora($event)" multiple="false" cancelText="Cancelar" okText="Aceptar">
            <ion-select-option value="12:00 pm">12:00 pm</ion-select-option>
            <ion-select-option value="1:00 pm">1:00 pm</ion-select-option>
            <ion-select-option value="2:00 pm">2:00 pm</ion-select-option>
            <ion-select-option value="3:00 pm">3:00 pm</ion-select-option>
            <ion-select-option value="4:00 pm">4:00 pm</ion-select-option>
            <ion-select-option value="5:00 pm">5:00 pm</ion-select-option>
            <ion-select-option value="6:00 pm">6:00 pm</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="metodo(direccion, numero, numero_int, referencias, telefono, calle, cp, estado, municipio)" class="create" color="pasto">
        Continuar
      </ion-button>
    </ion-row>
  </ion-card>
</div>
 
  </ion-content>
  <app-footer></app-footer>
