<app-toolbar2></app-toolbar2>
<ion-content [fullscreen]="true">
  <ion-grid class="margin-toolbar">
    <ion-row class=".ion-justify-content-start">
        <ion-col (click)="redirect()" size="1" >
            <ion-text class="margins">Inicio</ion-text>
        </ion-col>
        <ion-col size="0.5">
            <img [src]="flechaDer">
        </ion-col>
        <ion-col color="rosa" size="2">
            <b><ion-text color="rosa">Carrito</ion-text></b>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icon-special" name="cart-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small>Datos de envío</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="card-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small>Método de pago</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="pricetags-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small style="margin-left: 9px;">Promociones</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="search-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 10px;">
            <p><small style="margin-left: 13px; ">Resumen</small></p>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="row-linea-envio">
            <ion-icon class="icon-elegido" name="checkbox-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 10px;  color: darkred;">
            <p><small>Confirmación</small></p>
          </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>
<h3><b class="carrito-title">Confirmación</b></h3>
<div class="align">
  <ion-card class="card">
   <ion-row>
     <ion-icon class="icon-grande" color="pasto" name="checkbox-outline"></ion-icon>
   </ion-row>
   <ion-row style="margin-left: 330px;">
     <h4><b>¡Gracias por su compra!</b></h4>
   </ion-row>
   <ion-row style="margin-left: 340px;">
     <h6>Su compra se realizó con éxito
     </h6>
   </ion-row>
   <ion-button style="margin-left: 400px; margin-bottom: 20px; margin-top: 30px;" color="rosa" (click)="redirect()">Ir a inicio</ion-button>
  </ion-card>
 </div>

<app-footer></app-footer>
</ion-content>
