img {
    width: 24px;
    height: 24px;
}

.margins {
    margin-left: 50px;
    margin-top: 50px;
    cursor:pointer;
    text-decoration: blink;
}

.margin-toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 23px;
}

.carrito-subtitle {
    margin-left: 60px;
}

.carrito-title {
    margin-left: 60px;
    margin-top: 20px;
    color:darkred;
    margin-bottom: 20px;
}
.icons {
    width: 20px;
    height: 20px;
}

.icon-grande {
    color: #C5B358;
    width: 150px;
    height: 150px;
    margin-left: 600px;
}

.icon-elegido {
    width: 20px;
    height: 20px;
    color:darkred;
}

.icon-special {
    width: 20px;
    height: 20px;
    
}

.input2 {
    margin-top:10px;
    width: 350px;
    margin-left: 40px;
}

.row-linea {
    height: 10px;
}

.continue {
    margin-top: 40px;
    margin-left: 750px;
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
}

.row-linea-envio {
    height: 10px;
    margin-left: 27px;
}
.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa);
    --ion-color-base-rgb: var(--ion-color-rosa-rgb);
    --ion-color-contrast: var(--ion-color-rosa-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
    --ion-color-shade: var(--ion-color-rosa-shade);
    --ion-color-tint: var(--ion-color-rosa-tint);
  }

  .ion-color-pasto {
    --ion-color-base: var(--ion-color-pasto);
    --ion-color-base-rgb: var(--ion-color-pasto-rgb);
    --ion-color-contrast: var(--ion-color-pasto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pasto-contrast-rgb);
    --ion-color-shade: var(--ion-color-pasto-shade);
    --ion-color-tint: var(--ion-color-pasto-tint);
  }

  img {
    width: 24px;
    height: 24px;
}

.margins {
    margin-left: 50px;
    margin-top: 50px;
    cursor:pointer;
    text-decoration: blink;
}

.margin-toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 23px;
}

.carrito-subtitle {
    margin-left: 60px;
}

.carrito-title {
    margin-left: 60px;
    margin-top: 20px;
    color:darkred;
    margin-bottom: 20px;
}
.icons {
    width: 20px;
    height: 20px;
}

.card {
    margin-top: 50px;
    width: 900px;
    height: 500px;
    margin-bottom: 50px;
    border: 0 !important;
    box-shadow: none !important;
    
}
.align {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
.icon-grande {
    color: black;
    width: 150px;
    height: 150px;
    margin-left: 380px;
}

.icon-elegido {
    width: 20px;
    height: 20px;
    color:darkred;
}

.icon-special {
    width: 20px;
    height: 20px;
    
}

.input2 {
    margin-top:10px;
    width: 350px;
    margin-left: 40px;
}

.row-linea {
    height: 10px;
}

.continue {
    margin-top: 40px;
    margin-left: 750px;
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
}

.row-linea-envio {
    height: 10px;
    margin-left: 27px;
}
.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa);
    --ion-color-base-rgb: var(--ion-color-rosa-rgb);
    --ion-color-contrast: var(--ion-color-rosa-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
    --ion-color-shade: var(--ion-color-rosa-shade);
    --ion-color-tint: var(--ion-color-rosa-tint);
  }

  .ion-color-pasto {
    --ion-color-base: var(--ion-color-pasto);
    --ion-color-base-rgb: var(--ion-color-pasto-rgb);
    --ion-color-contrast: var(--ion-color-pasto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pasto-contrast-rgb);
    --ion-color-shade: var(--ion-color-pasto-shade);
    --ion-color-tint: var(--ion-color-pasto-tint);
  }