<ion-header>
  <ion-toolbar color="rosa">
    <ion-grid>
      <ion-row>
        <ion-col style="margin-block-start: 5px" size="11">
          <ion-title>Mi carrito</ion-title>
        </ion-col>
        <ion-col>
           <ion-icon (click)="cerrar()" class="close" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
<app-card-producto></app-card-producto>
<ion-item-divider style="margin-top: 160px;"></ion-item-divider>
<h6 class="vaciar" (click)="eliminar()">Vaciar carrito</h6>
<div class="precios">
  <h5><b>Subtotal: </b>${{subtotal}}</h5>
<h5><b>Costo de envío: </b>$49</h5>
<h3><b>Total: ${{total}} </b></h3>
</div>
<ion-button (click)="compra()" style="margin-left: 140px;" color="pasto">Continuar con la compra</ion-button>

</ion-content>
