.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa);
    --ion-color-base-rgb: var(--ion-color-rosa-rgb);
    --ion-color-contrast: var(--ion-color-rosa-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
    --ion-color-shade: var(--ion-color-rosa-shade);
    --ion-color-tint: var(--ion-color-rosa-tint);
  }

.close {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.vaciar {
  margin-left: 20px;
  cursor: pointer;
  color: darkred;
}
.precios {
    margin-left: 270px;
    margin-bottom: 20px;
}
.ion-color-pasto {
    --ion-color-base: var(--ion-color-pasto);
    --ion-color-base-rgb: var(--ion-color-pasto-rgb);
    --ion-color-contrast: var(--ion-color-pasto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pasto-contrast-rgb);
    --ion-color-shade: var(--ion-color-pasto-shade);
    --ion-color-tint: var(--ion-color-pasto-tint);
  }