<app-toolbar2></app-toolbar2>
<ion-content [fullscreen]="true" *ngIf="user$ | async as user">
<ion-grid>
  <ion-row>
    <ion-icon class="icon-grande" name="mail-outline"></ion-icon>
  </ion-row>
  <ion-row style="margin-left: 550px;">
    <h4><b>¡Gracias por registrarse!</b></h4>
  </ion-row>
  <ion-row style="margin-left: 440px;">
    <h6>Se envió un correo de confirmación a  <strong>{{user.email}}</strong>
    </h6>
  </ion-row>
  <ion-row style="margin-left: 430px; margin-bottom: 50px;">
    <h6>Por favor verifique su bandeja y haga click en el enlace de confirmación
    </h6>
  </ion-row>
</ion-grid>
<ion-button style="margin-left: 620px; margin-bottom: 70px;" color="rosa" (click)="onSendEmail()">Reenvíar</ion-button>
<app-footer></app-footer>
</ion-content>