<app-toolbar2></app-toolbar2>
<ion-content [fullscreen]="true">
<ion-grid class="margin-toolbar">
    <ion-row class=".ion-justify-content-start">
        <ion-col (click)="redirect()" size="1" >
            <ion-text class="margins">Inicio</ion-text>
        </ion-col>
        <ion-col size="0.5">
            <img [src]="flechaDer">
        </ion-col>
        <ion-col color="rosa" size="2">
            <b><ion-text color="rosa">Moda y accesorios</ion-text></b>
        </ion-col>
    </ion-row>
</ion-grid>
<app-item2></app-item2>
<app-footer></app-footer>
<ion-router-outlet id="principal"></ion-router-outlet>
</ion-content>

    