<app-toolbar2></app-toolbar2>
<ion-content [fullscreen]="true">
<ion-row class="row-header">
    <ion-col (click)="redirect()" size="1" >
        <ion-text class="margins">Inicio</ion-text>
    </ion-col>
    <ion-col size="0.5">
        <img [src]="flechaDer">
    </ion-col>
    <ion-col size="1.5">
        <ion-text class="moda" (click)="moda()">Moda y accesorios</ion-text>
    </ion-col>
    <ion-col size="0.5">
      <img [src]="flechaDer">
  </ion-col>
  <ion-col size="1" ion-col>
    <ion-text color="rosa"><b>Dama</b></ion-text>
</ion-col>
</ion-row>    
<ion-grid class="ion-align-items-center">
    <ion-row>
    <ion-col>   
        <app-product></app-product>
    </ion-col>
    </ion-row>
</ion-grid>
<app-footer></app-footer>
</ion-content>