img {
    width: 24px;
    height: 24px;
}

.margins {
    margin-left: 50px;
    margin-top: 50px;
    cursor:pointer;
    text-decoration: blink;
}

.margin-toolbar {
    margin-top: 10px;
}

.moda {
    cursor:pointer;
    text-decoration: blink;
    text-align: center;
}

.row-header {
    margin-top: 20px;
    height: 40px;
}
.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa);
    --ion-color-base-rgb: var(--ion-color-rosa-rgb);
    --ion-color-contrast: var(--ion-color-rosa-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
    --ion-color-shade: var(--ion-color-rosa-shade);
    --ion-color-tint: var(--ion-color-rosa-tint);
  }