<ion-menu side="start" menuId="principal" contentId="principal">
  <ion-header>
    <ion-toolbar color="rosa">
      <ion-grid>
        <ion-row>
          <ion-col style="margin-top: 10px" size="10">
            <ion-title>Departamentos</ion-title>
          </ion-col>
          <ion-col>
            <ion-icon (click)="close()"  class="icon2" name="close-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item >Despensa</ion-item>
      <ion-item>Frutas y verduras</ion-item>
      <ion-item>Carnes, pescados y mariscos</ion-item>
      <ion-item>Lácteos y huevo</ion-item>
      <ion-item>Alimentos congelados y refrigerados</ion-item>
      <ion-item>Queso, salchichas y deli </ion-item>
      <ion-item>Panadería y tortillería </ion-item>
      <ion-item>Vinos, licores y cervezas</ion-item>
      <ion-item>Jugos y bebidas</ion-item>
      <ion-item>Limpieza del hogar</ion-item>
      <ion-item>Mascotas</ion-item>
      <ion-item>Hogar y electrodomésticos</ion-item>
      <ion-item>Bebés</ion-item>
      <ion-item>Cuidado personal y belleza</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>