<ion-grid>
<ion-text><h1 class="header">Departamentos</h1></ion-text>
  <ion-row>
    <ion-col>
      <ion-card button="true" class="flechaDer">
        <img [src]="flechaIzq">
      </ion-card>
    </ion-col>
    <ion-col *ngFor="let dep of departamentos">
      <ion-card button="true" class="item" (click)="info(dep)">
        <img [src]="dep.image">
        <ion-card-title class="text">{{dep.name}}</ion-card-title>
      </ion-card>
    </ion-col>
    <ion-card button="true" class="flechaIzq">
      <img [src]="flechaDer">
    </ion-card>
    </ion-row>
</ion-grid>
<ion-text><h1 class="header2">Servicios</h1></ion-text>
<ion-grid>
    <ion-row>
      <ion-col>
        <ion-card button="true" class="flechaDer">
          <img [src]="flechaIzq">
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let ser of servicios">
        <ion-card button="true" class="item">
          <img [src]="ser.image">
          <ion-card-title class="text">{{ser.name}}</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-card button="true" class="flechaIzq">
        <img [src]="flechaDer">
      </ion-card>
      </ion-row>
</ion-grid>

