<ion-card class="filter">
  <h4 class="filter-text"><ion-icon class="filter-icon" name="filter-outline"></ion-icon>Filtrar por</h4>
<ion-item>
  <ion-label>Categorías</ion-label>
  <ion-select multiple="true" cancelText="Cancelar" okText="Aplicar">
    <ion-select-option value="blusas">Blusas</ion-select-option>
    <ion-select-option value="shorts">Shorts</ion-select-option>
    <ion-select-option value="zapatos">Zapatos</ion-select-option>
    <ion-select-option value="vestidos">Vestidos</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Precio</ion-label>
  <ion-select multiple="true" cancelText="Cancelar" okText="Aplicar">
    <ion-select-option value="menor">0 a 99</ion-select-option>
    <ion-select-option value="medio">100 a 249</ion-select-option>
    <ion-select-option value="mayor">249 a 599</ion-select-option>
    <ion-select-option value="alto">Mas de 599</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Marca</ion-label>
  <ion-select multiple="true" cancelText="Cancelar" okText="Aplicar">
    <ion-select-option value="flexi">Flexi</ion-select-option>
    <ion-select-option value="oggi">Oggi Jeans</ion-select-option>
    <ion-select-option value="kangaroo">Kangaroo</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Talla</ion-label>
  <ion-select multiple="true" cancelText="Cancelar" okText="Aplicar">
    <ion-select-option value="xs">Extra chica</ion-select-option>
    <ion-select-option value="s">Chica</ion-select-option>
    <ion-select-option value="m">Mediana</ion-select-option>
    <ion-select-option value="g">Grande</ion-select-option>
    <ion-select-option value="xl">Extra grande</ion-select-option>
  </ion-select>
</ion-item>
</ion-card>
