<app-toolbar2></app-toolbar2>
<ion-content [fullscreen]="true">
<h1 class="header" ><b color="rosa">¡Bienvenido(a)!</b></h1>
  <div class="align">
    <ion-card color="natural" class="login-card">
      <ion-row class="row-style">
        <ion-col size="1.2">
          <ion-text><h5 (click)="show=!show"  class="titulos">Pedidos</h5></ion-text>
        </ion-col>
        <ion-col size="1.4">
          <ion-text><h5 class="titulos">Listas</h5></ion-text>
        </ion-col>
        <ion-col>
          <ion-text><h5  class="titulos">Datos Personales</h5></ion-text>
        </ion-col>
        <ion-col>
          <ion-text><h5 (click)="show=!show" class="titulos">Direcciones</h5></ion-text>
        </ion-col>
        <ion-col>
          <ion-text><h5  class="titulos">Métodos de pago</h5></ion-text>
        </ion-col>
        <ion-col>
          <ion-text><h5  class="titulos">Programa de Recompensas</h5></ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="show">
        <ion-col *ngFor="let pedido of pedidos">
          <ion-card class="pedido">
            <ion-grid>
              <ion-row  >
                <ion-col class="pedido-text">
                  <h4><b >{{pedido.name}}</b></h4>
                </ion-col>
              </ion-row>
              <ion-row class="pedido-datos">
                <h5 >{{pedido.direccion}}</h5>
              </ion-row>
              <ion-row >
                <ion-col class="pedido-ultimo">
                  <h5 >{{pedido.total}}</h5>
                </ion-col>
                <ion-col>
                  <ion-button color="pasto" class="ver">Ver pedido</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!show">
        <ion-col *ngFor="let dir of direcciones">
          <ion-card class="direcciones">
            <ion-grid>
              <ion-row style="height: 30px;">
                <ion-col class="pedido-text">
                  <h4><b >{{dir.name}}</b></h4>
                </ion-col>
                <ion-col style="margin-top: 10px;">
                  <ion-checkbox color="pasto"></ion-checkbox>
                  <ion-label class="check-pref">Marcar como preferida</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="pedido-datos">
                <h5 >{{dir.calle}}  {{dir.numero}}</h5>
              </ion-row>
              <ion-row class="pedido-datos">
                  <h5>{{dir.codigo_postal}}</h5>
              </ion-row>
              <ion-row class="pedido-datos">
                <h5 >{{dir.colonia}}</h5>
              </ion-row>
              <ion-row >
                <ion-col class="pedido-ultimo">
                  <h5 >{{dir.municipio}}, {{dir.estado}}</h5>
                </ion-col>
                <ion-col>
                  <ion-button color="pasto" class="ver">Editar</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <app-footer></app-footer>
</ion-content>