.login-card {
    width: 900px;
    height: 600px;
    margin-left: 170px;
}

.header {
    margin-left: 550px;
    margin-bottom: 20px;
}

.pedido {
    height:170px;
    width: 400px;
    margin-top: 40px;
}
.direcciones {
    height:230px;
    width: 400px;
    margin-top: 40px;
}

.check-pref {
    margin-left: 7px;
}
.pedido-text {
    margin-left: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.pedido-datos {
    margin-top: 7px;
    margin-left: 25px;
    height: 20px;
}

.pedido-ultimo {
    margin-left: 20px;
    height: 20px;
}
.row-style {
    height: 50px;
}

.label-pwd {
    margin-left: 480px;
    color: darkred;
    cursor:pointer;
    text-decoration: blink;
}

.check {
    margin-right: 5px;
    margin-left: 270px;
}

.recordar {
    margin-left: 5px;
    margin-right: 100px;
}

.ver {
    width: 120px;
    height: 40px;
    margin-left: 240px;
    margin-top: 25px;
}


.login {
    margin-left: 300px;
    margin-top: 25px;
    cursor:pointer;
    text-decoration: blink;
}

.input {
    margin-top: 40px;
    margin-left: 250px;
    margin-bottom: 10px;
    width: 400px;
}

.input2 {
    margin-top:10px;
    width: 350px;
    margin-left: 40px;
}

.boton {
    width: 300px;
    margin-left: 310px;
    margin-top: 40px;
    height: 40px;
}
.signin {
    margin-left: 30px;
    margin-top: 25px;
    cursor:pointer;
    text-decoration: blink;
}

.titulos {
    height: 30px;
    cursor:pointer;
    text-decoration: blink;
    text-align: center;
}

.campo {
    margin-left: 50px;
    margin-top: 30px;
}

.label-terminos {
    margin-top: 40px;
    margin-left: 10px;
}

.create {
    margin-left: 300px;
    margin-top: 40px;
    width: 300px;
    height: 40px;
}

.font-red {
    color: #B11A0E;
}

.label-check-terminos {
    margin-top: 30px;
    margin-left: 40px; 
}
.ion-color-natural {
    --ion-color-base: var(--ion-color-natural);
    --ion-color-base-rgb: var(--ion-color-natural-rgb);
    --ion-color-contrast: var(--ion-color-natural-contrast);
    --ion-color-contrast-rgb: var(--ion-color-natural-contrast-rgb);
    --ion-color-shade: var(--ion-color-natural-shade);
    --ion-color-tint: var(--ion-color-natural-tint);
  }

