img {
    width: 190px;
    height: 150px;
    border-radius: 15px !important;
    margin-left: 10px;
}

.card-background {
    width: 170px;
    height: 170px;
}

.title {
    margin-left: 20px;
    margin-top: 15px;
}

.favorite {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.price {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.subtitle {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 60px;
}


.button {
    width: 170px;
    height: 40px;
    margin-left: 10px;
}
.ion-color-pasto {
    --ion-color-base: var(--ion-color-pasto);
    --ion-color-base-rgb: var(--ion-color-pasto-rgb);
    --ion-color-contrast: var(--ion-color-pasto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pasto-contrast-rgb);
    --ion-color-shade: var(--ion-color-pasto-shade);
    --ion-color-tint: var(--ion-color-pasto-tint);
  }

.ion-color-marfil {
    --ion-color-base: var(--ion-color-marfil);
    --ion-color-base-rgb: var(--ion-color-marfil-rgb);
    --ion-color-contrast: var(--ion-color-marfil-contrast);
    --ion-color-contrast-rgb: var(--ion-color-marfil-contrast-rgb);
    --ion-color-shade: var(--ion-color-marfil-shade);
    --ion-color-tint: var(--ion-color-marfil-tint);
  }

.text {
    text-align: center;
    margin-top: 10px;
}
.item {
    box-shadow: none !important;
    height: 200px;
    width: 140px;
}
.margin-row {
    margin-left: 50px;
}
.margin-filter {
    margin-left: 120px;
}

.flechaIzq {
    box-shadow: none !important;
    width: 100px;
    height: 300px;
    margin-left: 50px;
}

.flechaDer {
    box-shadow: none !important;
    width: 100px;
    height: 300px;
}

.header {
    margin-left: 600px;
    margin-bottom: 80px;
  }

.margin2 {
    margin-left: 200px;
}

.header2 {
    margin-left: 580px;
    margin-bottom: 20px;
  }