img {
    margin-left: 7px;
    margin-top: 7px;
    width: 100px;
    height: 100px;
}

.margins {
    margin-left: 50px;
    margin-top: 50px;
    cursor:pointer;
    text-decoration: blink;
}


.trash {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 90px;
    cursor:pointer;
    text-decoration: blink;
}

.edit {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 250px;
    cursor:pointer;
    text-decoration: blink;
}
.margin-toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cantidad {
    margin-left: 120px;
}
.carrito-title {
    margin-left: 60px;
    margin-top: 20px;
    color:darkred;
    margin-bottom: 20px;
}

.producto-card {
    margin-left: 60px;
    height:170px;
    width: 400px;
    padding-bottom: 50px;
}

.text-area {
    width: 370px;
    height: 100px;
    --background: #FBFBFB
}
.carrito-subtitle {
    margin-left: 60px;
}

.continuar {
    margin-left: 350px;
    width: 200px;

}
.vaciar {
    --border-color: #B11A0E;
    --color: #B11A0E;
    --background: #FBFBFB;
}
.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa);
    --ion-color-base-rgb: var(--ion-color-rosa-rgb);
    --ion-color-contrast: var(--ion-color-rosa-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
    --ion-color-shade: var(--ion-color-rosa-shade);
    --ion-color-tint: var(--ion-color-rosa-tint);
  }

  .ion-color-pasto {
    --ion-color-base: var(--ion-color-pasto);
    --ion-color-base-rgb: var(--ion-color-pasto-rgb);
    --ion-color-contrast: var(--ion-color-pasto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pasto-contrast-rgb);
    --ion-color-shade: var(--ion-color-pasto-shade);
    --ion-color-tint: var(--ion-color-pasto-tint);
  }
  .ion-color-porcelana {
    --ion-color-base: var(--ion-color-porcelana);
    --ion-color-base-rgb: var(--ion-color-porcelana-rgb);
    --ion-color-contrast: var(--ion-color-porcelana-contrast);
    --ion-color-contrast-rgb: var(--ion-color-porcelana-contrast-rgb);
    --ion-color-shade: var(--ion-color-porcelana-shade);
    --ion-color-tint: var(--ion-color-porcelana-tint);
  }
  .ion-color-natural {
    --ion-color-base: var(--ion-color-natural);
    --ion-color-base-rgb: var(--ion-color-natural-rgb);
    --ion-color-contrast: var(--ion-color-natural-contrast);
    --ion-color-contrast-rgb: var(--ion-color-natural-contrast-rgb);
    --ion-color-shade: var(--ion-color-natural-shade);
    --ion-color-tint: var(--ion-color-natural-tint);
  }