<div>
  <ion-footer>
    <ion-toolbar class="lower">
      <ion-buttons slot="start">
        <ion-button color="pasto" style="text-transform:none">
          <ion-title size="small" color="natural">¡Síguenos en redes!</ion-title>
        </ion-button>
        <ion-button>
          <ion-icon color="natural" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon color="natural" name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon color="natural" name="logo-instagram"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon color="natural" name="logo-whatsapp"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon color="natural" name="logo-pinterest"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon color="natural" name="document-outline"></ion-icon>
          <ion-title size="small" color="natural" style="text-transform:none">Preguntas Frecuentes</ion-title>
        </ion-button>
        <ion-button>
          <ion-icon color="natural" name="call-outline"></ion-icon>
          <ion-title size="small" color="natural" style="text-transform:none">81 8329 9252</ion-title>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>