<app-toolbar2></app-toolbar2>
<ion-content [fullscreen]="true">
  <ion-grid class="margin-toolbar">
    <ion-row class=".ion-justify-content-start">
        <ion-col (click)="redirect()" size="1" >
            <ion-text class="margins">Inicio</ion-text>
        </ion-col>
        <ion-col size="0.5">
            <img [src]="flechaDer">
        </ion-col>
        <ion-col color="rosa" size="2">
            <b><ion-text color="rosa">Carrito</ion-text></b>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icon-special" name="cart-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small>Datos de envío</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icon-elegido" name="card-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small style="color: darkred;">Método de pago</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="pricetags-outline"></ion-icon>
          </ion-row>
          <ion-row  class="row-linea">
            <p><small style="margin-left: 9px;">Promociones</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="search-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 10px;">
            <p><small style="margin-left: 13px;">Resumen</small></p>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="row-linea-envio">
            <ion-icon class="icons" name="checkbox-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 10px;">
            <p><small>Confirmación</small></p>
          </ion-row>
        </ion-col>
    </ion-row>
</ion-grid >
<h3 class="carrito-title"><b >Método de pago</b></h3>
<div class="align">
  <ion-card color="natural" class="login-card">
    <ion-grid class="margin-toolbar2">
      <ion-row >
        <ion-col class="col-class-elegido" size="1.5">
          <ion-row class="row-linea">
            <ion-icon class="icons-metodo" name="card-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 60px;">
            <p><small class="label-metodo">Tarjeta de crédito/débito</small></p>
          </ion-row>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col  class="col-class"  size="1.8">
          <ion-row class="row-linea">
            <ion-icon class="icons-metodo" name="home-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 10px;">
            <p><small class="label-metodo">Pago contra entrega</small></p>
          </ion-row>
        </ion-col>
        <ion-col  class="col-class"  size="1.5">
          <ion-row class="row-linea">
            <ion-icon class="icons-metodo-falabella" name="card-outline"></ion-icon>
          </ion-row>
          <ion-row  style="height: 30px;">
            <p><small class="label-metodo">Tarjeta Falabella</small></p>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="input-tarjeta">
        <ion-item class="input2">
          <ion-label position="floating">Número de la tarjeta *</ion-label>
          <ion-input required="true"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="input-tarjeta">
        <ion-item class="input2">
          <ion-label position="floating">Nombre la tarjeta *</ion-label>
          <ion-input required="true"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="input-tarjeta">
        <ion-item class="input2">
          <ion-label position="floating">Mes y año de vencimiento *</ion-label>
          <ion-input required="true"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="input-tarjeta">
        <ion-item class="input2">
          <ion-label position="floating">CVV *</ion-label>
          <ion-input required="true"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="input-tarjeta">
        <ion-item class="input2">
          <ion-label position="floating">Dirección de la tarjeta *</ion-label>
          <ion-input required="true"></ion-input>
        </ion-item>
      </ion-row>
     <ion-row style="margin-left: 450px">
      <ion-column>
        <ion-checkbox class="label-check-terminos" color="pasto"></ion-checkbox>
        <ion-label class="label-terminos">Guardar tarjeta</ion-label>
      </ion-column>
     </ion-row>
     <ion-button class="continuar-button"  color="pasto" (click)="promocion()">Continuar</ion-button>
    </ion-grid>
  </ion-card>
</div>
<app-footer></app-footer>
</ion-content>