<app-toolbar2></app-toolbar2>
<ion-content [fullscreen]="true">
<ion-row class="row-header">
    <ion-col (click)="redirect()" size="1" >
        <ion-text class="margins">Inicio</ion-text>
    </ion-col>
    <ion-col size="0.5">
        <img class="flechas" [src]="flechaDer">
    </ion-col>
    <ion-col size="1.5">
        <ion-text class="moda" (click)="moda()">Moda y accesorios</ion-text>
    </ion-col>
    <ion-col size="0.5">
      <img [src]="flechaDer" class="flechas">
  </ion-col>
  <ion-col size="1">
    <ion-text color="rosa"><b>Bebés</b></ion-text>
</ion-col>
</ion-row>    
<ion-grid class="ion-align-items-center">
    <ion-row>
    <ion-col>   
      <ion-text><h1 class="header"><b>Bebés</b></h1></ion-text>
      <ion-grid>
        <ion-row class="margin-row">
          <ion-col size="2" *ngFor="let producto of products">
            <ion-card  class="item">
              <img (click)="lanzarModal(producto.id)" [src]="producto.image">
            </ion-card>
            <ion-card color="marfil" class="card-background">
              <ion-card-title class="title">{{producto.name}}</ion-card-title>
              <ion-card-subtitle class="subtitle">{{producto.description}}</ion-card-subtitle>
              <ion-row>
                <ion-col>
                  <ion-icon class="favorite" name="heart-outline"></ion-icon>
                </ion-col>
                <ion-col >
                  <ion-card-title ><b class="price">{{producto.price}}</b></ion-card-title>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-button (click)="addToCart(producto.id)" color="pasto"  class="button">Agregar</ion-button>
          </ion-col>
          <ion-col class="margin-filter">
            <ion-card class="filter">
              <h4 class="filter-text"><ion-icon class="filter-icon" name="filter-outline"></ion-icon>Filtrar por</h4>
            <ion-item class="label-f">
              <ion-label >Categorías</ion-label>
              <ion-select multiple="true" cancelText="Cancelar" okText="Aplicar">
                <ion-select-option value="blusas">Calcetas</ion-select-option>
                <ion-select-option value="shorts">Mamelucos</ion-select-option>
                <ion-select-option value="zapatos">Pañaleros</ion-select-option>
                <ion-select-option value="vestidos">Moños</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="label-f">
              <ion-label >Precio</ion-label>
              <ion-select multiple="true" cancelText="Cancelar" okText="Aplicar">
                <ion-select-option value="menor">0 a 99</ion-select-option>
                <ion-select-option value="medio">100 a 249</ion-select-option>
                <ion-select-option value="mayor">249 a 599</ion-select-option>
                <ion-select-option value="alto">Mas de 599</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="label-f">
              <ion-label>Marca</ion-label>
              <ion-select multiple="true" cancelText="Cancelar" okText="Aplicar">
                <ion-select-option value="flexi">Grafito</ion-select-option>
                <ion-select-option value="oggi">Little me</ion-select-option>
                <ion-select-option value="kangaroo">Bam-Bu</ion-select-option>
                <ion-select-option value="kangaroo">KidsLuxury</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="label-f">
              <ion-label>Talla</ion-label>
              <ion-select multiple="true" cancelText="Cancelar" okText="Aplicar">
                <ion-select-option value="xs">Recién nacido</ion-select-option>
                <ion-select-option value="s">0 a 3 meses</ion-select-option>
                <ion-select-option value="m">3 a 6 meses</ion-select-option>
                <ion-select-option value="g">6 a 12 meses</ion-select-option>
                <ion-select-option value="xl">12 a 24 meses</ion-select-option>
              </ion-select>
            </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    </ion-row>
</ion-grid>
<app-footer></app-footer>
</ion-content>
